<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Ajouter une Matière</title>
</head>
<body>
<div class="container">
    <h1>Ajouter une Matière</h1>
    <form th:action="@{/matieres/ajouter}" method="post">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="code">Code :</label>
            <input type="text" id="code" name="code" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
</body>
</html>