<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>

  <script th:src="@{/js/jquery-3.7.0.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/js/jquery.dataTables.min.js}"></script>

  <title>Espace Enseignant</title>
</head>
<body>


<!-- Lien pour voir les matières de l'enseignant connecté -->
<a th:href="@{/matieres/{enseignantId}(enseignantId=${idEnseignant})}" class="btn btn-primary">
  Voir mes matières
</a>


</body>
</html>
